{% extends 'base2.html' %}


{% block titulo %}
    Detalles de Videojuegos
{% endblock titulo %}
    

{% block contenido %}
<h1 class="app-page-title">Detalles de Videojuegos</h1>
<div class="app-card app-card-orders-lable shadow-sm mb-s">
    <table class="table table-borderless">
        <thead class="table-info"> 
            <th>Título</th>
            <th>Categoría</th>
            <th>Año</th>
            <th>Precio</th>
            <th>Descripción</th>
        </thead>
        <tbody>
            <tr>
                <td>{{object.titulo}}</td>
                <td>{{object.categoria}}</td>
                <td>{{object.anio}}</td>                
                <td>{{object.precio}}</td>
                {% if object.descripcion %}
                    <td>{{object.descripcion}}</td>
                {% endif %}
          </tr>
        </tbody>
    </table>
    
    </div>
        
    <br>
    <a href="{% url 'videojuego:listacl' %}" class="btn btn-info">Regresar</a>
 {% endblock contenido %}
