{% extends 'base2.html' %}


{% block titulo %}
    Lista de Categorías
{% endblock titulo %}


{% block contenido %}
<h1 class="app-page-title">Lista de Categorías</h1>
<div class="app-card app-card-orders-lable shadow-sm mb-s">
  <table class="table table-borderless">
      <thead class="table-info">
          <th>ID</th>
          <th>Nombre Categoría</th>
          <th>Acciones</th>
      </thead>
      <tbody>
          {% for categoria in categorias %}
          <tr>
              <td>{{categoria.id}}</td>
              <td>{{categoria.nombre}}</td>
              <td>
                <div lass="btn-group">
                    <button type="button" class="btn btn-danger" href="{% url 'categoria:eliminar' categoria.id %}">Eliminar</button>
                    <button type="button" class="btn btn-secondary" href="{% url 'categoria:editar' categoria.id %}">Editar</button>
                   
                </div>
              </td>
              
          </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>

{% endblock contenido %}